<h3>Student Details</h3>
<%= form_with model: @studnt do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :phone, placeholder: "phone" %>
  <%= form.submit %>
<% end %>